@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Software engineer experienced in full project life cycle from design to implementation to integration.<br/>
3+ years of experience in creating web and windows applications using .Net/Java/Node.JS technologies. <br/>
Algorithms &amp; Machine Learning Enthusiast.<br/>
.</p>
