@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Mail me at:</strong> <a href="mailto:parkashravi1992@gmail.com">parkashravi1992@gmail.com</a><br />
</address>
