@{
    ViewData["Title"] = "Home Page";
}

<div id="search-form" style="margin:50px;">
    
</div>



<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header country-name">
          <h2 class="modal-title" style="float: left;"></h2>
          <button type="button" id="like-button" class="btn btn-primary btn-lg" style="float: right;">Like</button>
        </div>
        <div class="modal-body">
          <div class="country-info">
            <h4>Information</h4>
            <div>Country Code: <span id="country-code"></span></div>
            <div>Country Capital: <span id="country-capital"></span></div>
            <div>Country Flag : <img id="country-flag"></span></div>
          </div>
          <div class="country-currency-info">
            <h4>Currencies</h4>
            <div>Currency Name: <span id="currency-name"></span></div>
            <div>Currency Code: <span id="currency-code"></span></div>
            <div>Convert to INR: <span id="currency-value"></span></div>
          </div>
          <div class="country-location-info">
          <h4>Location</h4>
          <div class="mapouter">
            <div class="gmap_canvas">
                <iframe width="550" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=India&t=&z=3&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                </div>
            <style>.mapouter{overflow:hidden;height:350px;width:550px;}.gmap_canvas {background:none!important;height:350px;width:550px;}</style>
          </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

<script>
    $(document).ready(function(){
        //$('#tableData').hide();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetAllCountries")',
            success: function (data) {
                console.log(data);
                $('#search-form').autocomplete({
                    hints: data,
                    width: 500,
                    height: 50,
                    showButton: false,
                    onSubmit: function(text){
                        //$('#tableData').hide();
                        $.ajax({
                            type: 'POST',
                            dataType: 'json',
                            url: '@Url.Action("GetCountryData")',
                            data: {"countryName": text},
                            success: function (data) {
                                $('#myModal').modal('show');
                                $('.modal-title').text(data.countryName);
                                console.log(data);  
                                $("#country-code").text(data.countryCode);
                                $("#country-name").text(data.countryName);
                                $("#country-capital").text(data.countryCapital);
                                $(".modal-body .mapouter .gmap_canvas iframe").attr("src", data.countryMapURI);
                                $('#currency-name').text(data.currencyName);
                                $('#currency-code').text(data.currencyCode);
                                $("#currency-value").text(parseFloat(data.currencyValue).toFixed(3) + " Indian rupee(s)");
                                $("#country-flag").attr('src', data.countryFlag);
                                if(!data.isFavorite)
                                {
                                    $("#like-button").removeClass("liked-button");
                                    $("#like-button").addClass("like-button");
                                    $("#like-button").html("Like");
                                }
                                else{
                                    $("#like-button").removeClass("like-button");
                                    $("#like-button").addClass("liked-button");
                                    $("#like-button").html("Liked");
                                }
                                //$('#tableData').show();                             
                            },
                            error: function (ex) {
                                var r = jQuery.parseJSON(response.responseText);
                                alert("Message: " + r.Message);
                            }
                        });			
                    }
                });
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
            }
        });

        $("#like-button").click(function(){
            var isLike = ($("#like-button").html() === "Like");
            ToggleLike(isLike, $(".modal-title").html());
        });
    });
    function ToggleLike(isLiked, countryName){
        $.ajax({
            type: 'POST',
            dataType: 'json',
            url: '@Url.Action("ToggleLike")',
            data: {"isLiked": isLiked, "countryName": countryName},
            success: function (data) {
                console.log(data);  
                if(data.isLiked)
                {
                    $("#like-button").addClass("liked-button");
                    $("#like-button").removeClass("like-button");
                    $("#like-button").html("Liked");
                }
                else{
                    $("#like-button").addClass("like-button");
                    $("#like-button").removeClass("liked-button");
                    $("#like-button").html("Like");
                }                  
            },
            error: function (ex) {
                var r = jQuery.parseJSON(response.responseText);
                alert("Message: " + r.Message);
            }
        });	
    }
</script>